*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --ff-primary: 'Lora', serif;
  --ff-secondary: 'Roboto Slab', serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --color-light: #fff;
  --color-dark: #303030;
  --color-accent: #3F83F8;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

@media (min-width: 860px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold)
}

:focus {
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  padding: 1em 2.5em;
  background: var(--color-accent);
  color: var(--color-light);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1)
}

h2 {
  font-size: var(--fs-h2)
}

h3 {
  font-size: var(--fs-h3)
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6vh;
  background: #3F83F8;

}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  transition: 0.4s ease-in;


}

.nav_toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #fff;

}

.nav_toggler {
  cursor: pointer;
  display: none;
}

/* Email and Nav menu animation: */

.nav_link {
  font-size: larger;
  display: inline-block;
  position: relative;

}

.nav_link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.marcus_email {
  position: relative;

}

.marcus_email::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.marcus_email:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* --- */

.section_title {
  margin-bottom: .25em;
  align-self: center;
}

.section_title_intro {
  font-weight: var(--fw-reg);
}

.section_title_intro strong {
  display: block;
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section_subtitle_intro,
.section_subtitle_about {
  background: var(--color-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  color: var(--color-light);
}

.section_subtitle_work {
  color: var(--color-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}




/* Intro section */



.intro {
  padding-top: 20px;
  position: relative;
}

.intro_img {
  box-shadow: var(--bs);
}

.section_subtitle_intro {
  color: var(--color-light);
}

.tech_stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 5vh 0;
}

.tech_stack h3 {
  margin-bottom: 5vh;
}

.tech_logo_img_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
}

.tech_logo_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}

.tech_logo_img {
  width: 100px;
  height: 100px;
  background-size: cover;
  margin: 0 40px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}



@media (min-width: 768px) {
  .intro {
    padding-top: 90px;
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
    "img title"
    "img subtitle";
    grid-template-columns: min-content max-content;
    
  }

  .intro_img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section_subtitle_intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* My services section*/

.section_title_services {
  padding-top: 30px;
}

.my_services {
  background-color: var(--color-dark);
  /* background-image: url(./img/portfolio_services_background.jpg); */
  background-size: cover;
  background-blend-mode: normal;
  color: var(--color-light);
  text-align: center;
}

.my_services p {
  padding: 0 10px 0 10px;
}

.section_title_services {
  color: var(--color-light);
  position: relative;
}

.section_title_services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--color-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 400px;
  margin: 0 auto 2em;
}

@media (min-width: 860px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service+.service {
    margin-left: 2em;
  }

  .service {
    margin-bottom: 0;
  }
}


.about_me {
  max-width: 1000px;
  margin: 0 auto;
}

.about_me_img {
  box-shadow: var(--bs);
}

@media (min-width: 780px) {
  .about_me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section_title_about {
    grid-area: title;
  }

  .section_subtitle_about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about_me_img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work*/

.my_work {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}



.my_projects_section {
  /* margin: 0 auto; */
  /* max-width: 1000px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 150px;
  position: relative;
  
  
}

.section_title_work {

  position: absolute;
  top: 40px;
  
}

.portfolio_info {
  height: 200px;
  padding: 10px 5px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
  text-shadow: 0 0 5px black;
}

.portfolio_info div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.portfolio_item {
  /* background: var(--color-accent); */
  overflow: hidden;
  width: 330px;
  height: 445px;
  backdrop-filter: blur(50px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  /*  border: solid 2px rgba(255, 255, 255, 0.027); */


}

.portfolio_img {
  height: 50%;
  width: 100%;
  object-fit: cover;

}

.portfolio_item:nth-child(3) img,
.portfolio_item:nth-child(4) img {
  width: 100%;
  object-position: top;
}

.portfolio_item:focus {
  position: relative;
  z-index: 2;
}

.my_projects_section>.section_title {
  text-align: center;
  color: #fff;
}

.project_icons_box,
.project_button_box {
  display: flex;
  justify-content: center;
  align-items: center;


}

.project_button_box {
  /* padding: 0px 0 15px 0; */
  padding: 15px;
}

.project_icons_box div {
  margin: 5px;
  padding: 5px 5px 0 5px;
  border: 1px solid #02213E;
  border-radius: 10px;
  color: #FEB600;

}

@media screen and (max-width: 768px) {
  * {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;

  }





}

.about_me_section {
  background-color: #15bd7a;
}

.my_projects_section {
  background-color: #303030;

}

/* .my_projects_section>.section_title {
  text-align: center;
  color: #fff;
}

.my_projects_section>.section_subtitle {
  text-align: center;
}
 */
/* footer */

.footer {
  background: #111;
  color: var(--color-accent);
  text-align: center;
  padding: 1em;
  font-size: var(--fs-h3);
  display: flex;
  justify-content: center;

}

.footer a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;

}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer_logo {
  width: 30px;
  height: 30px;
}


@media screen and (max-width: 768px) {
  .portfolio_item {
    /* background: var(--color-accent); */
    width: 300px;
    backdrop-filter: blur(50px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    /* border: solid 2px rgba(255, 255, 255, 0.027); */


  }

  .portfolio_img {
    transition:
      transform 750ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
    height: 50%;
    object-fit: cover;
    width: 100%;
    /* object-fit: cover;
    height: 100%; */

  }


  .nav_toggler {
    display: block;
  }

  .nav_menu {
    position: fixed;
    margin: 0;
    gap: 0;
    top: 6vh;
    right: 0;
    width: 50%;
    height: 95vh;
    padding-bottom: 70%;
    background: #3F83F8;
    background: linear-gradient(to right,
        rgba(0, 68, 214, 0) 0%,
        rgb(0, 68, 214));
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    z-index: 1;

  }
}

/* Nav Active Class */
.nav_active {
  position: absolute;
  transform: translateX(0);
  text-shadow: #12299d 2px 2px 10px;
  font-weight: bold;
  font-size: larger;
  padding-bottom: 70%;
  transition: transform 0.3s ease-in-out;

}

/* Toggler Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-10px, 2px);
  transition: transform 0.3s ease-in-out;
}

.toggle .line2 {
  opacity: 0;
  transition: transform 0.3s ease-in-out;

}

.toggle .line3 {
  transform: rotate(45deg) translate(-10px, -3px);
  transition: transform 0.3s ease-in-out;
}

/* scroll to top button */
.top_btn_position {
  position: fixed;
  bottom: 5%;
  right: 0%;
  z-index: 3;

}

.top_btn_styles {
  height: 70px;
  width: 50px;
  cursor: pointer;

}

@media screen and (max-width: 395px) {

  .portfolio_info {
    font-size: 12px;
  }

  .portfolio_info h3 {
    text-align: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
  }



}